@import './variables.scss';

header {
  background-color: $primary-orange;
  margin: 0;
  padding: 10px 40px;
  color: white;

  h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1.3px;
  }
}
