@import './variables.scss';

.history {
  border-radius: 3px;
  width: 95%;
  max-height: 1000px;
  overflow-y: auto;
  grid-row: 1 / -1;

  h3 {
    margin: 0;
    font-size: 1.3rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #52d277;
      margin-bottom: 15px;
      border-radius: 3px;
      padding: 5px 10px;
      width: 95%;
      font-size: 0.9rem;
      cursor: pointer;
    }

    li span {
      display: block;
      margin: 5px;
    }

    li .log-url {
      font-size: 0.8rem;
    }
  }
}
