@mixin borderInput() {
  background: transparent;
  border-bottom: 1px solid $primary-orange;
  color: $primary-orange;
  transition: 1s ease;
}

@mixin focusInput() {
  &:focus {
    outline: none;
    border: 1px solid $primary-orange;
  }
}
